<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1><%= "Olá, #{current_member.profile_member.first_name} #{current_member.profile_member.second_name}" %></h1>
            <h2>:)</h2>
        </div>
    </div>
</div>
