<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <%= link_to "Dashboard", site_profile_dashboard_index_path %>
        </li>
        <li>
            
        </li>
        <li>
            <%= link_to "My Ads", site_profile_ads_path %>
        </li>
    </ul>
</div>
    <!-- /#sidebar-wrapper -->

