<%= render partial: "site/shared/list_categories" %>

<div id="home-detail" class="col-md-9">
  <%= render partial: "site/shared/carousel" %>

  <div class="row">
    <%= render partial: "site/shared/ad" %>
  </div>

</div>